:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

/*BEGIN - streepje zichtbaar*/
#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    /*opacity: 100%;*/
    /*margin: 100px;*/
}

/*EIND - streepje onzichtbaar*/
#menu:hover {
    background-color: #ffffff;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    /*opacity: 0%;*/
    transition: opacity .30s ease-out;
    /*margin: 100px;*/
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

#container {
    width: 50px;
    height: 50px;
    background-color: #2a97a5;
    padding: 50px;
    /*margin: 100px;*/
}

