:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

/*BEGIN - streepje zichtbaar*/
#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    /*opacity: 100%;*/
    /*margin: 100px;*/
}



#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}


/*#menu:hover::before {*/
/*    transform: rotate(45deg);*/
/*}*/

#menu::after {
    left: 0;
    top: 20px;
}

/*#menu:hover::after {*/
/*    transform: rotate(-45deg);*/
/*}*/

#container {
    width: var(--menu-bar-width);
    border: 5px transparent;
    padding: 30px 0;
    margin: 20px;
}

#container:hover #menu {
    background-color: transparent;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    /*opacity: 0%;*/
    transition: opacity .20s ease-out 2s;
    /*margin: 100px;*/
}

#container:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
    transition: 0.75s;

}

#container:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
    transition: 0.75s;
}